:root {
    --standart-red: #d00;
    --standart-white: white; 
    --standart-blue: blue; 
    --light-blue: rgb(50, 100, 250);
}

body.light {
    --color: black;
    --border: 1px solid black;
    --background-color: white;
}

body.dark {
    /* --color: #e0e0e0;
    --border: 1px solid #555;
    --background-color: #121212; */
    --color: white;
    --border: 1px solid white;
    --background-color: #111111;
}