/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* application.css */

* {
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

html,body {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--color)
}

@media (max-width: 600px) {
    li {
        max-width: 85%;
        font-size: 0.9em;
        padding: 20px;
    }

    form {
        flex-direction: column;
        row-gap: 10px;
    }

    header {
        flex-direction: column;
        row-gap: 10px;
    }

    button, input {
        width: 100%;
    }
}


@media (max-width: 400px) {
    li {
        max-width: 80%;
        font-size: 0.9em;
        padding: 12.5px;
    }
}

@media (hover: none) and (pointer: coarse) {
    input:focus,
    button:focus {
      outline: 2px solid var(--standart-red);
      outline-offset: 2px;
      box-shadow: 0 0 0 2px var(--standart-red);
    }
  }