<% own = (message.client_id == cookies[:client_id]) || (message.client_id == 'local-console-id') %>
<li class="<%= own ? 'own-message' : 'other-message' %>">
  <strong><%= message.nickname %>:</strong>
  <%= message.content %>
</li>